.home-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    /* background-color: lightgoldenrodyellow; */
    padding: 5px;
}

.cart-container {
    text-align: center;
    background-color: bisque;

}

.title {
    text-align: center;

}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}